body {
    padding-left: 55px; /* Поле слева */
    background: 
    url(background_repeat-y.jpg) repeat-y;
    }
.my_photo {
    border-radius: 100%; /* Радиус скругления */
    object-fit: cover;
 }
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 0.8rem;
    color: blueviolet;
    }